<img src="/images/title1.png" id="title_image" />

<ul>
  <li class="left"><div>ppworks is piyo piyo works</div></li>
  <li class="right"><div><a href="http://twitter.com/ppworks">@ppworks</a></div></li>
  <li class="right"><div><a href="http://www.facebook.com/ppworks">facebook page</a></div></li>
  <li class="right"><div><a href="http://github.com/ppworks">github</a></div></li>
  <li class="right"><div><a href="http://coderwall.com/ppworks">coderwall</a></div></li>
  <li class="left"><div>works</div></li>
  <li class="right"><div><a href="http://welove.herokuapp.com">we love heroku</a></div></li>
  <li class="left"><div>blog</div></li>
  <li class="right"><div><a href="http://ppworks.hatenablog.jp">ppworks blog</a></div></li>
  <li class="right"><div><a href="http://ppworks.hatenadiary.jp">ppworks diary</a></div></li>
  <li class="right"><div><a href="http://fla.la">fla.la</a></div></li>
  <li class="right"><div><a href="http://d.hatena.ne.jp/naoto5959">プログラマー再起動</a></div></li>
  <li class="left"><div>pictures</div></li>
  <li class="right"><div><a href="http://flickr.com/naoto5959">flickr</a></div></li>
  <li class="right"><div><a href="http://ganref.jp/m/ppworks/portfolios">ganref</a></div></li>
</ul>
