<img src="/images/title1.png" id="title_image" />

<ul>
  <li class="left"><div>ppworks is pure passion works</div></li>
  <li class="right">
    <div style="text-align:left;">
      越川直人です。I'm Naoto Koshikawa.<br />
      昔Flash好きでした。I've been love Flash & ActionScript.<br />
      基本rubyが好きです。Now love ruby.<br />
      今ios開発興味あります。And, I'm interested in developing apps for iOS.<br />
      79年生まれです。I was born in 1979.
    </div>
  </li>
  <li class="left"><div>sns</div></li>
  <li class="right"><div><a href="http://www.facebook.com/ppworks">facebook page</a></div></li>
  <li class="right"><div><a href="http://github.com/ppworks">github</a></div></li>
  <li class="right"><div><a href="http://wonderfl.net/user/naoto5959/codes">wonderfl code</a></div></li>
  <li class="right"><div><a href="http://www.lastfm.jp/user/naoto5959">last.fm</a></div></li>
  <li class="left"><div>communities</div></li>
  <li class="right"><div><a href="https://ishikitakai.com/groups/1">sendagaya.rb</a></div></li>
  <li class="right"><div><a href="http://prog4designer.heroku.com/">プログラマー向けデザイナー部</a></div></li>
  <li class="right"><div><a href="http://github.com/herokaijp/">herokai</a></div></li>
  <li class="left"><div>blog</div></li>
  <li class="right"><div><a href="http://ppworks.hatenablog.jp">ppworks blog</a></div></li>
  <li class="right"><div><a href="http://ppworks.hatenadiary.jp">ppworks diary</a></div></li>
  <li class="left"><div>services</div></li>
  <li class="right"><div><a href="https://ishikitakai.com">ishikitakai.com</a></div></li>
  <li class="right"><div><a href="http://welove.herokuapp.com">we love heroku</a></div></li>
  <li class="left"><div>labs</div></li>
  <li class="right"><div><a href="http://musick.info">musick</a></div></li>
  <li class="right"><div><a href="http://mattari.herokuapp.com">pusher chat demo</a></div></li>
  <li class="left"><div>libraries</div></li>
  <li class="right"><div><a href="https://github.com/ppworks/as3paintoco">flashお絵描きライブラリ</a></div></li>
  <li class="left"><div>pictures</div></li>
  <li class="right"><div><a href="http://flickr.com/naoto5959">flickr</a></div></li>
</ul>
